html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: transparent;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;

  --mobile-section-padding: 0 24px;
  --desktop-section-padding: 0 256px;
}

//html {
//    overflow: hidden;
//    height: 100%;
//}
//
//body {
//    height: 100%;
//    overflow: auto;
//}

// make heading styles
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;

  @media (min-width: 768px) {
      font-size: 4.5rem;
  }
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

// make paragraph styles
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  color: #2D1E2F;
  text-align: left;
  position: relative;
  z-index: 2;

  > div {
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0 256px;
    }
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;

  padding: var(--mobile-section-padding);

  @media (min-width: 768px) {
      padding: var(--desktop-section-padding);
  }

  > .company-name {
    flex: 1;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    color: #2D1E2F;
  }

  > .logo {
    margin: 16px 0;
    background: #E3170A;
    color: #FCF6B1;
    border-radius: 9999px;
    //font-family: monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.background-stripes {
  position: absolute;
  top: 85vh;
  left: 0;
  width: 100vw;
  height: 40vh;
  z-index: 0;

  background-color: #E3170A;
  transform: skew(0deg, 10deg);

  &:nth-of-type(2) {
    transform: skew(0deg, 10deg) translateY(20vh);
    height: 20vh;
    background-color: #F7B32B;
  }
}

.page-section {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: var(--mobile-section-padding);
  z-index: 2;

  @media (min-width: 768px) {
    padding: var(--desktop-section-padding);
  }

  > h2 {
    margin: 0;
  }

  > .section-content-wrapper {
    max-width: 300px;
  }

  &__first, &__third {
    align-items: flex-start;
  }

  &__third {
    > .back-cover {
      background-color: #2D1E2F;
      z-index: -4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: skew(0deg, 10deg);
    }

    color: white;
    z-index: 1;
  }

  &__second {
    align-items: flex-end;
  }
}